
.linhaFundoAventura {
  position: fixed;
  top: -75vw;
  left: 35vw;
  width: 50vw;
  height: 350vh;
  z-index: -1;
  transform: rotate(50deg);
  background-color: #ff0000;
  opacity: 0.6;
  mask-image: linear-gradient(
    to right,
    transparent 1%,
    black 50%,
    black 50%,
    transparent 85%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 5%,
    black 50%,
    black 50%,
    transparent 85%
  );
  animation: brilhoConstante 6s ease-in infinite;
  filter: blur(12px);
}
@keyframes brilhoConstante {
  0% {
    opacity: 1;
    filter: blur(8%);
  }
  50% {
    opacity: 0.9;
    filter: blur(18);
  }
  100% {
    opacity: 0.6;
    filter: blur(2%);
  }
}
